.z_markF {
  margin: 0 0.26666667rem;
  padding-bottom: 0.4rem;
  box-shadow: 0 0.02666667rem 0.6rem #eaeaea;
  border-radius: 0.10666667rem;
}
.z_mark ul li {
  padding-top: 0.50666667rem;
  padding-left: 0.26666667rem;
}
.z_mark ul li .detail {
  padding-left: 0.4rem;
  width: 7.22666667rem;
  float: left;
}
.z_mark li a {
  display: inline-block;
  float: left;
}
.z_mark li a img {
  width: 1.06666667rem;
  height: 1.06666667rem;
}
.z_mark .mark_p {
  float: left;
}
.z_mark .mark_p p {
  font-size: 0.32rem;
}
.z_mark .mark_p p:nth-of-type(2) {
  font-size: 0.24rem;
  padding-top: 0.33333333rem;
}
.z_mark .time {
  float: right;
  font-size: 0.22666667rem;
}
