.be-header {
  background: #ff406f;
}
.be-header ul {
  height: 1.86666667rem;
  display: flex;
  background: #fff;
}
.be-header ul li {
  font-size: 0.4rem;
  color: #333;
  flex-grow: 1;
  text-align: center;
  line-height: 2.4rem;
}
#red {
  color: #ff406f;
}
