.c-nav ul {
  display: flex;
  background: #ff406f;
  height: 1.17333333rem;
}
.c-nav ul li {
  flex-grow: 1;
  height: 1.17333333rem;
  line-height: 1.17333333rem;
  font-size: 0.48rem;
  color: #fff;
  text-align: center;
}
.c-nav ul li a {
  font-size: 0.48rem;
  color: #fff;
  display: block;
  width: 1.46666667rem;
}
.c-nav ul li:nth-child(2) > div {
  display: flex;
}
.c-nav ul li:nth-child(2) > div a {
  flex-grow: 1;
  text-align: center;
  width: 1.46666667rem;
  height: 1.01333333rem;
}
#c-line {
  border-bottom: 0.05333333rem solid #fff;
}
.c-nav ul li {
  position: relative;
}
.c-nav ul li:first-child a {
  width: 1.06666667rem;
  height: 1.06666667rem;
  background: url("../img/icons.png") 0.08rem -2.16rem;
  background-size: 12.93333333rem 21.33333333rem;
  position: absolute;
  left: 0;
  top: 0.13333333rem;
}
.c-nav ul li:last-child a {
  width: 1.06666667rem;
  height: 1.06666667rem;
  background: url("../img/icons.png") -1.06666667rem -2.16rem;
  background-size: 12.93333333rem 21.33333333rem;
  position: absolute;
  right: 0;
  top: 0.13333333rem;
}
#c-back {
  background: url("../img/icons.png") -3.86666667rem -1.2rem;
  background-size: 12.93333333rem 21.33333333rem;
}
#c-share {
  background: url("../img/icons.png") 0 -1.6rem;
  background-size: 16.81333333rem 27.73333333rem;
}
.blank {
  height: 0.53333333rem;
  width: 10rem;
  background: #ff406f;
}
.c-nav ul li:last-child a.call {
  background: url("../img/icons.png") -14.53333333rem -2.98666667rem;
  background-size: 16.81333333rem 27.73333333rem;
}
.c-nav ul li:last-child a.none {
  background-image: none;
}
