/*message*/
.c-sub-nav {
  height: 1.41333333rem;
  display: flex;
}
.c-sub-nav li {
  height: 0.49333333rem;
  flex-grow: 1;
  text-align: center;
  margin-top: 0.37333333rem;
}
.c-sub-nav li:first-child {
  border-right: 0.01333333rem solid #808080;
}
.c-sub-nav li a {
  font-size: 0.4rem;
  display: block;
}
.c-sub-nav li a.active {
  color: #ff406f;
}
.c-msg-info {
  display: block;
  height: 1.73333333rem;
  box-shadow: 0.02666667rem 0.02666667rem 0.12rem rgba(0, 0, 0, 0.1), -0.02666667rem -0.02666667rem 0.12rem rgba(0, 0, 0, 0.1);
  position: relative;
  color: #333;
  background: #fff;
  margin-bottom: 0.26666667rem;
}
.c-msg-info p,
.c-msg-info span,
.c-msg-info img {
  position: absolute;
}
.c-msg-info > img {
  width: 1.28rem;
  height: 1.28rem;
  left: 0.66666667rem;
  top: 0.24rem;
}
.c-msg-info .c-msg-title {
  font-size: 0.37333333rem;
  color: #8c8c8c;
  left: 2.2rem;
  top: 0.4rem;
}
.c-msg-info .c-msg-content {
  font-size: 0.32rem;
  color: #9f9e9e;
  left: 2.2rem;
  bottom: 0.32rem;
}
.c-msg-info .c-msg-date {
  font-size: 0.24rem;
  color: #8c8c8c;
  right: 0.66666667rem;
  top: 0.45333333rem;
}
